<div class="form-group">
  <label [for]="controlName">{{ label }}</label>
  <!-- TODO -< Забудь про id і про for, в фреймворку таке не використовуєтсья ніколи, замість цього обгортай всю констукцію в label тег -->
  <input
    [id]="controlName"
    [formControl]="control"
    [type]="type"
    [placeholder]="placeholder"
    class="form-control"
  />
  <!-- TODO -< *ngIf - не викоритовуй ніколи, устарів, він буде тільки на старих проектах, але уже коли з цим стикнешся, тоді і будемо розьиратися -->
  <div
    *ngIf="control?.invalid && (control?.dirty || control?.touched)"
    class="error-message"
  >
  <!-- TODO -< Нівякому випадку ніколи, не використовуй виклик функції, або метода в html, як і гетери, це не оптимізовано, дял цього є сигнали -->
    {{ getErrorMessage() }}
  </div>
</div>
