/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/styles/fonts.scss';

:root {
  --dark-color: #2a3636;
  --light-color: rgb(255, 255, 255);
  --primary-color: #ae7aff;
}

.slide {
  @apply bg-yellow-600 min-h-48 text-center text-lg border border-red-600 text-black;
}
