/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app/styles/fonts.scss";

:root {
  --dark-color: #2a3636;
  --light-color: rgb(255, 255, 255);
  --primary-color: #ae7aff;
}

body {
  font-family: "JetBrains Momo", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
