<form [formGroup]="form" class="contact-form">
  <app-custom-input [formGroup]="form" label="Name" controlName="name" placeholder="Enter your name" />
  <app-custom-input [formGroup]="form" label="Email" controlName="email" type="email" placeholder="Enter your email" />
  <app-custom-input [formGroup]="form" label="Message" controlName="message" placeholder="Enter your message" />

  <!-- <div class="form-group">
    <label>Phones:</label>
    <button type="button" (click)="addPhone()">Add Phone</button>
    <div formArrayName="phones">
      <div *for="let phone of phoneArray; let i = index" [formGroupName]="i">
        <app-custom-input [formGroup]="phone" label="Phone" controlName="phone" placeholder="Enter phone number" />
        <button type="button" (click)="removePhone(i)">Remove</button>
      </div>
    </div>
  </div> -->

  <button type="submit" (click)="onSubmit()" class="submit-button">Submit</button>
</form>

<div>
  <h1>Welcome to the Date Formatter App</h1>
  <app-custom-date></app-custom-date>
  <img src="/assets/images/756084.jpg" appImageFallback="/assets/images/image.png" alt="Example image">

</div>
